.App {
  text-align: center;
}

/* ___ Menu ____________________________ */
#menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#title {
  font-size: 10vh;
  font-weight: bolder;
  color: rgb(31, 120, 255);

}

#name {
  height: 10vh;
  width: 70vw;
  text-align: center;
  font-size: 7vh;
  
}

#name::placeholder {
  color: black;
}

#signin {
  height: 10vh;
  width: 50vw;
  background-color: rgb(77, 145, 248);
  color: white;
  border-radius: 12.5px;
  font-size: 5vh;
}

/* ___ End of Menu__________________________ */

/* ___ Field _______________________________ */

#game-screen {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}

#comp-name {
  width: 100vw;
  height: 5vh;
  font-size: 35px;
  text-align: left;
  /* background-color: brown; */
}

#footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-direction: row; */
}

#footer > button {
  margin-right: auto;
  margin-left: 5vw;
  width: 20vw;
  height: 7.5vh;
  background-color: rgb(77, 145, 248);
  color: white;
  font-size: 3vh;
  border-radius: 12px;
  border: none;
  
}

#player-name {
  margin-left: auto;
  margin-right: 5vw;
  font-size: 35px;
}

#action-field {
  width: 100vw;
  height: 80vh;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* ___ End of Field _______________________________ */
/* ___ Card ______________________________________ */

.card {
  width: 10vw;
  height: 30vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
}
/* ___ End of Card ______________________________________ */
/* ___ Coclusion _______________________________________ */

#conclusion {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

#conclusion > h1 {
  font-size: 100px;
}

#conclusion > button {
  width: 20vw;
  height: 10vh;
  background-color: rgb(77, 145, 248);
  color: white;
  font-size: 3vh;
  border-radius: 12px;
  border: none;
}
